pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
torch
tqdm
python-dotenv
sentence-transformers
networkx
torch-geometric
requests
gradio
gensim
pymorphy2
langdetect
kagglehub
scipy
nltk
protobuf
jupyter
cupy-cuda11x
dask